<div class="container" id="container">
    <div class="row">
        <form method="post" class="col s12" name="insertCustomer" ng-submit="insertCustomers();">
            <div class="row">
                <div class="input-field col m12 s12">
                    <i class="material-icons prefix">business</i>
                    <input id="customers" name="name" ng-model="customer.name" type="text" class="validate" required="" minlength="3" maxlength="255" />
                    <label for="icon_prefix">Cliente</label>
                    <small data-ng-show="!insertCustomer.name.$pristine && insertCustomer.name.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.name.$pristine && insertCustomer.name.$error.minlength">O campo deve conter no mínimo 3 caracteres</small>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m12 s12">
                    <i class="material-icons prefix">recent_actors</i>
                    <input name="cnpj" id="cnpj" ng-model="customer.cnpj" type="text" clean="true" mask="99.999.999/9999-99" restrict="reject" class="validate" required="" maxlength="18">
                    <label for="cnpj">CNPJ</label>
                    <small data-ng-show="!insertCustomer.cnpj.$pristine && insertCustomer.cnpj.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.cnpj.$pristine && insertCustomer.cnpj.$error.mask">O campo deve conter 14 caracteres</small>
                </div>
            </div>
            <div>
                <ul class="collapsibleContact row " id="collapsibleContact" data-collapsible="accordion">
                    <li class="contacts col s11 m11"  ng-repeat="(indexContact, contatos) in customer.contact" id="contacts" >
                        <div class="collapsible-header col s12 m11 " ng-click="$('.collapsibleContact').collapsible('open', indexContact); ((COLLAPSE_TESTE) = !COLLAPSE_TESTE)">
                            <i class="material-icons">{{COLLAPSE_TESTE ? 'arrow_upward' : 'arrow_downward'}}</i>                            
                            <input id="name" name="nameContact{{indexContact}}" class="name validate" ng-model="contatos.name" type="text" placeholder="Contato" style="margin-left: 12px !important;" required="" minlength="3" maxlength="90">
                            <small data-ng-show="!insertCustomer.nameContact{{indexContact}}.$pristine && insertCustomer.nameContact{{indexContact}}.$error.required">Campo obrigatório</small>
                            <small data-ng-show="!insertCustomer.nameContact{{indexContact}}.$pristine && insertCustomer.nameContact{{indexContact}}.$error.minlength">O campo deve conter no mínimo 3 caracteres</small>
                            
                            <input id="customer" name="positionContact{{indexContact}}" ng-model="contatos.position" type="text"  placeholder="Cargo" class="validate" style="margin-left: 12px !important;" required="" minlength="3" maxlength="90">
                            <small data-ng-show="!insertCustomer.positionContact{{indexContact}}.$pristine && insertCustomer.positionContact{{indexContact}}.$error.required">Campo obrigatório</small>
                            <small data-ng-show="!insertCustomer.positionContact{{indexContact}}.$pristine && insertCustomer.positionContact{{indexContact}}.$error.minlength">O campo deve conter no mínimo 3 caracteres</small>
                        </div>
                        <div class="col s1 m1">
                            <a class="btn-floating btn-large waves-effect waves-light grey lighten-3" ng-click="removeContact(indexContact);" class="moreContacts" style="margin-left: 12px !important;">
                                <i class="material-icons grey-text text-darken-4">delete</i>
                            </a>
                        </div>
                        <div class="collapsible-body">
                            <span>
                                <div class="dvPhone col s11 m11" ng-repeat="(indexTel, telefones) in contatos.telephone">
                                    <div class="moreTelephone input-field col m5 s12">
                                        <i class="material-icons prefix">phone</i>
                                        <input id="number" name="telephone{{indexContact}}{{indexTel}}" type="text" ng-model="telefones.number" clean="true" restrict="reject" mask="(99) 9?9999-9999" clean="true" class="number validate" minlength="14" maxlength="15" >
                                        <small data-ng-show="!insertCustomer.telephone{{indexContact}}{{indexTel}}.$pristine && insertCustomer.telephone{{indexContact}}{{indexTel}}.$error.minlength">O campo deve conter no mínimo 10 caracteres</small>
                                        <label for="number">Telefone</label>
                                    </div>
                                    <div class="input-field col m5 s12">
                                        <input id="type" name="typeTelephone{{indexContact}}{{indexTel}}" type="text" ng-model="telefones.type" class="type validate"  minlength="3" maxlength="10">
                                        <label>Tipo</label>
                                        <small data-ng-show="!insertCustomer.typeTelephone{{indexContact}}{{indexTel}}.$pristine && insertCustomer.typeTelephone{{indexContact}}{{indexTel}}.$error.minlength">O campo deve conter no mínimo 3 caracteres</small>
                                    </div>
                                    <div class="input-field col s2" style="text-align: center;">
                                        <a class="btn-floating waves-effect waves-light grey lighten-3" id="addphone" ng-click="removeTel(indexContact, indexTel)">
                                            <i class="material-icons grey-text text-darken-4">delete</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="input-field col s1" style="text-align: center;">
                                    <a class="btn-floating waves-effect waves-light blue lighten-3"  ng-click="moreTelephones(indexContact);">
                                        <i class="material-icons pink accent-3">add</i>
                                    </a>
                                </div>
                                <div class="dvEmail col s11 m11" ng-repeat="(indexEmail, emails) in contatos.email">
                                    <div class="input-field left-align col s12 m10">
                                        <i class="material-icons prefix">email </i>
                                        <input type="email" id="email" name="email{{indexContact}}{{indexTel}}" pattern="^\S+@(([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6})$" ng-model="emails.email" class="email validate">
                                        <label for="perfil">Email</label>
                                        <small data-ng-show="insertCustomer.email{{indexContact}}{{indexTel}}.$error.email">Email inválido</small>
                                    </div>
                                    <div class="input-field col s2" style="text-align: center;">
                                        <a class="btn-floating waves-effect waves-light grey lighten-3" id="addphone" ng-click="removeEmail(indexContact, indexEmail)">
                                            <i class="material-icons grey-text text-darken-4">delete</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="input-field col s1" style="text-align: center;">
                                    <a class="btn-floating waves-effect waves-light blue lighten-3"  ng-click="moreEmails(indexContact);">
                                        <i class="material-icons pink accent-3">add</i>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </li>
                    <div class="col s1 m1">
                        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="moreContacts();" class="moreContacts" style="margin-left: 12px !important;">
                            <i class="material-icons pink accent-3">add</i>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="row">
                <div class="input-field col m3 s12">
                    <i class="material-icons prefix">location_on</i>
                    <input id="cep" name="cep" type="text" ng-model="customer.zipCode" clean="true" mask="99999-999" restrict="reject" class="validate" required="" maxlength="9" ng-keyup="buscaCep()">
                    <label for="cep">CEP</label>
                    <small data-ng-show="!insertCustomer.cep.$pristine && insertCustomer.cep.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.cep.$pristine && insertCustomer.cep.$error.mask">O campo deve conter 8 caracteres</small>
                </div>
                <div class="input-field col m3 s12">
                    <input id="bairro" name="district" ng-model="customer.district" type="text" class="validate" required="" minlength="3" maxlength="255">
                    <label for="bairro">Bairro</label>
                    <small data-ng-show="!insertCustomer.district.$pristine && insertCustomer.district.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.district.$pristine && insertCustomer.district.$error.minlength">O campo deve conter no mínimo 3 caracteres</small>
                </div>
                <div class="input-field col m3 s12">
                    <input id="rua" name="address" type="text" ng-model="customer.address" class="validate" required="" minlength="3" maxlength="255">
                    <label for="rua">Rua</label>
                    <small data-ng-show="!insertCustomer.address.$pristine && insertCustomer.address.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.address.$pristine && insertCustomer.address.$error.minlength">O campo deve conter no mínimo 3 caracteres</small>
                </div>
                <div class="input-field col m3 s12">
                    <input id="numero" name="numero" type="text" ng-model="customer.number" class="validate" mask="9?9?9?9?9?9" required="" restrict="reject" minlength="1" maxlength="6">
                    <label for="numero">Número</label>
                    <small data-ng-show="!insertCustomer.numero.$pristine && insertCustomer.numero.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.numero.$pristine && insertCustomer.numero.$error.minlength">O campo deve conter no mínimo 1 caracter</small>
                </div>
                
                <div class="input-field col m4 s12">
                    <i class="material-icons prefix">location_on</i>
                    <input id="cidade" name="city" type="text" ng-model="customer.city" class="validate" required="" minlength="5" maxlength="40">
                    <label for="cidade">Cidade</label>
                    <small data-ng-show="!insertCustomer.city.$pristine && insertCustomer.city.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.city.$pristine && insertCustomer.city.$error.minlength">O campo deve conter no mínimo 5 caracteres</small>
                </div>
                <div class="input-field col m4 s12">
                    <input id="estado" name="state" type="text" ng-model="customer.state" class="validate" required="" minlength="2" maxlength="2">
                    <label for="estado">Estado</label>
                    <small data-ng-show="!insertCustomer.state.$pristine && insertCustomer.state.$error.required">Campo obrigatório</small>
                    <small data-ng-show="!insertCustomer.state.$pristine && insertCustomer.state.$error.minlength">O campo deve conter 2 caracteres</small>
                </div>
                <div class="input-field col m4 s12">
                    <input id="complemento" name="complement" maxlength="255" type="text" ng-model="customer.complement" class="validate">
                    <label for="complemento">Complemento</label>
                </div>
            </div>
            <div class="row">
                <div class="col m12 s12 right-align botoesSave-Cancel">
                    <button class="waves-effect white btn z-depth-0 grey-text text-darken-2" ui-sref="listCustomers">Cancelar</button>
                    <button data-ng-disabled="insertCustomer.$invalid" class="waves-effect waves-light btn cyan accent-4" type="submit" ng-click="insertCustomers();" ui-sref="listCustomers">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>