<div class="row">
    <div class="col s12 m12 container" style="min-width: 100%;">
        <div class="table-responsive">
            <table id="dtCustomers" class="dtCustomers mdl-data-table nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr id="filtros">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <!-- aqui dentro abre o modal de visualização -->
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large pink accent-3" ui-sref="insertCustomers({param:'{{theParam}}'})">
        <i class="large material-icons">add</i>
    </a>
</div>