<div class="container">
    <div  id="divApontamentos"  style="min-width: 100%;">
        <div class="table-responsive">
            <div class="row" id="filtrosData" >
                <div class="col s12 m6">                                 
                    <input  name="min" id="minAppointment" type="text" placeholder="Data de ínicio" data-value="{{firstDay}}">                         
                </div>
                <div class="col s12 m6">                
                    <input  name="max" id="maxAppointment" type="text" placeholder="Data de fim" data-value="{{lastDay}}">
                </div>
                <!-- <i class="material-icons grey-text" style="float: left; position: absolute; font-size: 30px; ">date_range</i> -->
            </div>

            <div id="loading" style="padding-top: 20px;">
                <div>
                    <div style="width: 100px; height: 30px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 0px 0 12px;"></div>
                </div>
        
                <div class="row" style="padding: 0 15px;">
                    
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 100%; height: 60px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin-left: 10px;"></div>
                    </div>
                </div>
        
                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="row" style="padding: 0 15px;">
                    <div style="width: calc(100% - 24px); display: inline-flex;">
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 10px 0 10px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                        <div style="width: 20%; height: 20px; background-color: #EEEEEE; border-radius: 4px; display: inline-block; margin: 0 5px;"></div>
                    </div>
                </div>
            </div>

            <div class="row" id="dtAppointmentDiv" style="display: none">
                <div class="table-wrapper responsive-table">
                    <table id="dtAppointment" class="mdl-data-table " cellspacing="0" style="width:100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Dia</th>
                                <th>Recurso</th>
                                <th>Cliente</th>
                                <th>Projeto</th>
                                <th>Entrada</th>
                                <th>Almoço</th>
                                <th>Saída</th>
                                <th>Quantidade de horas</th>
                                <th>Horas improdutivas</th>
                                <th>KM</th>
                                <th>Estacionamento</th>
                                <th>Refeição</th>
                                <th>Pedágio</th>
                                <th>Hospedagem</th>
                                <th>Taxi</th>
                                <th>Outros</th>
                                <th>Despesa</th>
                                <th>Traslado</th>
                                <th>Status do apontamento</th>
                                <th style="max-width: 455px;">Atividade</th>
                            </tr>
                            <tr id="filters">
                                <th></th>
                                <th class="inputDatePicker"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="max-width: 455px;"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th></th>
                                <th class="qtdHours"></th>
                                <th class="hrUnproductive"></th>
                                <th class="expense"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="km"></th>
                                <th class="transfer"></th>
                                <th></th>
                                <th style="max-width: 455px; "></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <!-- aqui dentro abre o modal de visualização -->
</div>
