<div class="row">
    <div class="col m12 s12 container" style="min-width: 100%;">
        <div class="table-responsive">
            <table id="dtProfile" class="mdl-data-table table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr id="filtros">
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pink accent-3" ui-sref="insertProfiles">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="modal1" class="modal barraLateral">
    <!-- aqui dentro abre o modal de visualização -->
</div>

<div id="modal2 modalconfirm" class="modal modalconfirm">
    
</div>
  
<div id="modalDelete" class="modal">
    <p class="col s12 m12 center-align" style="margin-top: 10px">Deseja excluir este Perfil?</p>
    <div class="modal-footer center-align">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a id="editarModal" ng-click="deleteProfile()" class="modal-action modal-close waves-effect waves-red waves-light btn cyan accent-4">Excluir</a>
    </div>
</div>