<div class="row">
    <div class="col m12 s12">
        <div class="table-responsive">
            <table id="dtProjects" class="mdl-data-table " cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr id="filtros">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <!-- aqui dentro abre o modal de visualização -->
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pink accent-3" ui-sref="insertProjects">
        <i class="large material-icons">add</i>
    </a>
</div>