<!-- <div id="loginBackGround">
    <div style="text-align: center">
        <img src="img/540x720.png" width="254">
    </div>
</div> -->
<div class="container">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
