<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s4"><a href="#test-swipe-1">Passo 1</a></li>
    <li class="tab col s4"><a class="active" href="#test-swipe-2">Passo 2</a></li>
    <li class="tab col s4"><a href="#test-swipe-3">Passo 3</a></li>
</ul>
<div class="row">
    <div class="col s12">
        <div id="test-swipe-1" class="col s12 grey center-align">
            <h4>DIGITE O SERVIDOR:</h4>
            <i class="material-icons prefix">cloud</i>
            <input id="icon_prefix" type="text" >
        </div>
        <div id="test-swipe-2" class="col s12 red center-align">
            <h4>CNPJ</h4>
            <i class="material-icons prefix">work</i>
            <input id="icon_work" type="text">
        </div>
        <div id="test-swipe-3" class="col s12 green center-align">
            <h4>Login</h4>
            <i class="material-icons account_circle">account_circle</i>
            <input id="icon_account_circle" type="text">
            <h4>Senha:</h4>
            <i class="material-icons vpn_key">vpn_key</i>
            <input id="icon_vpn_key" type="text">
        </div>
    </div>
</div>
